/*
* @Author: Administrator
* @Date:   2017-09-22 00:23:00
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-25 22:09:37
*/
.header .logo {
	position: absolute;
	left: 80px;
	top: 27px;
	font-size: 40px;
	font-weight: bold;
	color: #c60023;
}

.header .search-con{
	padding: 40px 0 30px 275px;
}

.header .search-con .search-input {
	width: 500px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 15px;
	border: 2px solid #c60023;
	outline: none;
}

.header .search-con .search-btn{
	position: absolute;
	height: 39px;
	width: 80px;
}

/* 面包屑导航 */
.crumb{
	background: #eee;
	height: 50px;
	line-height: 50px;
	color: #888;
	font-size: 14px;
	border-top: 2px solid #c60023;
}