<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com" class="link" target="_blank">百度</a> |
			<a href="https://www.zhihu.com" class="link" target="_blank">知乎</a> |
			<a href="https://www.taobao.com" class="link" target="_blank">淘宝</a> |
			<a href="http://www.w3school.com.cn/" class="link" target="_blank">W3school</a>
		</div>
		<p class="copyright">Copyright © 2017 totorommall.com All Right Reserved</p>
	</div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>