/*
* @Author: Administrator
* @Date:   2017-09-22 23:55:17
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-23 00:43:27
*/
.page-wrap {
	background: #fff;
	padding: 30px 0;
	margin-top: 20px;
	text-align: center;
}

.result-con {
	display: none;
}

.result-con .result-title{
	margin-bottom: 20px;
}

.result-con .result-content .link {
	border: 1px solid #ccc;
	padding: 5px 10px;
} 